{% extends 'base.html' %}

{% block title %} Согласие на участие в опросе {% endblock %}

{% block content %}
    <form action="/questionnaire" method = 'GET'>
    <fieldset>
        <legend><b>Ценности: опрос по методике Инглхарта</b></legend>
    <p>Этот опрос основан на исследовании в рамках проекта World Values Survey. 
	Цель проекта состоит в прослеживании ценностных изменений в разных обществах во времени. 
	С начала 1980-х годов им руководит Рональд Инглхарт, один из самых цитируемых ученых современности в социальных науках.
	Предлагаем вам ответить на составленные Инглхартом и соавторами вопросы о системе управления в стране, собственном благополучии, отношении к религии, участии в политической жизни, 
	защите окружающей среды и по другим темам.
</p>
    Согласны ли Вы принять участие в исследовании?<br>
    <input type="radio" name="ask" value="yes" checked>Да<br>
    <p><input type="submit" value="Отправить"></p>
    </fieldset>
</form>
<p><a href='/questionnaire'>Опрос</a></p>
{% endblock %}