{% extends 'base.html' %}

{% block title %} Статистика по результатам опроса {% endblock %}

{% block content %} <p>Информация на основании ответов {{ total }} пользователей: </p>
    <p><b>Блок 1: информация о прошедших опрос.</b></p>
    <p> Минимальный год рождения среди прошедших опрос: {{ all_info['born_year_min'] }}</p>
    <p>Максимальный год рождения среди прошедших опрос: {{ all_info['born_year_max'] }}</p>
    <p>Средний год рождения прошедших опрос: {{ all_info['born_year_mean'] }}</p>
    <p><b>Средние ответы на вопросы блока 2.</b></p>
    <p><i>В вопросах 1 и 2 единица означает "всегда", 5 - "никогда". В вопросе 3 единица означет "вообще не горжусь", 5 - "очень горжусь". </i></p>
    <p>1) Как часто вы себя чувствуете нервным или напряжённым?: <b>{{ all_info['stress_mean'] }}</b></p>
    <p>2) Вы счастливый человек?: <b>{{ all_info['happiness_mean'] }}</b></p>
    <p>3) Вы гордитесь быть гражданином своей страны? <b>{{ all_info['proudness_mean'] }}</b></p>
    <p><b>Средние ответы на вопросы блока 3.</b></p>
    <p><i>В вопросах 4-6 единица означает "полностью согласен", 5 - "абсолютно не согласен".</i></p>
    <p>4) Упорный труд - самый надёжный путь к достижению результатов: <b>{{ all_info['labor_mean'] }}</b></p>
    <p>5) Необходимо любой ценой избегать создания таких структур, в которых подчинённые будут иметь двух начальников: <b>{{ all_info['two_leaders_mean'] }}</b></p>
    <p>6) Правила организации не должны нарушаться, даже если работнику кажется, что это в интересах компании: <b>{{ all_info['rules_mean'] }}</b></p>
{% endblock %}
